@model SSGeek.Models.AlienAgeModel

@{
    ViewBag.Title = "AlienAge";
}

<div style="display:block;">
    <h2>Alien Age Calculator</h2>

    <select name="Planets">
        <option value="Mercury">Mercury</option>
    </select>
</div>